*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 130px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); 
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .logo img{
    width: 100px;
    height: 100px;
    margin: 10px;
}

.logo ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    margin-right: 30px;
    margin-left: auto;
}
.foodCard{
    width: 250px;
    height: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); 
    overflow: hidden;
    margin: 20px;
}
.foodCard img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.resContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
